<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/all.css">

    <!-- styles -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    {% block styles %}{% endblock %}
    {% if title %}
        <title>{{title}} - adhamsaad.dev</title>
    {% else %}
        <title>adhamsaad.dev</title>
    {% endif %}
  </head>
  <body>
    <div class="container-lg">
        <header>
            {% include 'partials/nav.twig' %}
            {% block header %}{% endblock %}
        </header>
        
        <main class="container-lg" role="main">
            {% include 'partials/messages.twig' %}
            <div class="row">
                <div class="col-md-8 content">
                    {% block content %}{% endblock %}
                </div>
                <aside class="col-md-4 sidebar">
                    {% include 'partials/sidebar.twig' %}
                    {% block sidebar%}{% endblock %}
                </aside>
            </div>
        </main>

        <footer>
            {% include "partials/footer.twig" %}
            {% block footer %}{% endblock %}
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/popper/popper.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/fontawesome/js/all.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>