<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="/build/rev-manifest.json">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/build/css/{{assetPath('vendor.css')}}">
    <!-- App Syles -->
    <link rel="stylesheet" href="/build/css/app.css" />
    <!-- Additional Styles -->
    {% block styles %}{% endblock %}

    {% if title %}
        <title>{{title}} - Blog</title>
    {% else %}
        <title>Blog</title>
    {% endif %}
  </head>
  <body>
    <div class="container-lg">
        <header>
            {% include 'partials/nav.twig' %}
            {% block header %}{% endblock %}
        </header>
        
        <main class="container-lg" role="main">
            {% include 'partials/messages.twig' %}
            <div class="row">
                <div class="col-md-9 content">
                    {% block content %}{% endblock %}
                </div>
                <aside class="col-md-3 sidebar">
                    {% include 'partials/sidebar.twig' %}
                    {% block sidebar%}{% endblock %}
                </aside>
            </div>
        </main>

        <footer>
            {% include "partials/footer.twig" %}
            {% block footer %}{% endblock %}
        </footer>
    </div>

    <!-- Vendor Scripts -->
    <script type="text/javascript" src="/build/js/{{assetPath('vendor.js')}}"></script>
    <!-- Additional Scripts -->
    {% block scripts %}{% endblock %}
  </body>
</html>