
<div class="text-center">
    <a class="text-decoration-none" href="https://github.com/babanesma"><i class="fab fa-2x fa-github"></i></a>
    <a class="text-decoration-none" href="https://twitter.com/babanesma"><i class="fab fa-2x fa-twitter"></i></a>
    <a class="text-decoration-none" href="https://linkedin.com/in/adhamsaad"><i class="fab fa-2x fa-linkedin"></i></a>
</div>