
<div class="text-center">
    <a class="text-decoration-none" href="https://github.com/"><i class="fab fa-2x fa-github"></i></a>
    <a class="text-decoration-none" href="https://twitter.com/"><i class="fab fa-2x fa-twitter"></i></a>
    <a class="text-decoration-none" href="https://linkedin.com/"><i class="fab fa-2x fa-linkedin"></i></a>
</div>