<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="/pages/about">About</a>
        <a class="nav-item nav-link" href="/pages/contact">Contact</a>
    </div>
    <div class="navbar-nav ml-auto">
        {% if userLoggedIn %}
            <a class="nav-item nav-link active" href="/auth/logout">Logout</a>
        {% else %}
            <a class="nav-item nav-link active" href="/auth/login">Login</a>
        {% endif %}
    </div>
  </div>
</nav>