{% extends "layout.twig" %}

{% block content %}
    <form action="/posts/delete/{{post._id}}" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <h2>Are you sure you want to delete this post</h2>
        <blockquote>
            <h3>{{post.title}}</h3>
            <div class="summary">{{post.summary}}</div>
        </blockquote>
        <div class="row">
            <div class="col-sm">
                <input class="btn btn-danger mx-1 form-control" type="submit" value="Remove"/>
            </div>
            <div class="col-sm">
                <a class="btn btn-primary mx-1 form-control" href="/posts">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}