{% extends "layout.twig" %}

{% block content %}

    <div class="row mb-3 posts-header">
        <div class="col-10">
            <h1>Posts</h1>
        </div>
        {% if userLoggedIn %}
            <div class="col-2">
                <a href="/posts/create" class="btn btn-success">
                    <i class="fas fa-1x fa-plus" title="Create New Post"></i>
                </a>
            </div>
        {% endif %}
    </div>

    {% for p in posts %}
        <div class="post">
            <h3><a href="/posts/{{p.slug}}">{{p.title}}</a></h3>
            <span class="date">{{p.fromNow}}</span>
            <p>{{p.summary}}</p>
        </div>
    {% endfor %}

{% endblock %}
