{% extends "layout.twig" %}

{% block content %}
    <h1>Posts</h1>
    {% if userLoggedIn %}
        <a href="/posts/create" class="btn btn-success">Create New Post</a>
    {% endif %}
{% endblock %}
